/* div[class*="stTextArea"] label {
    font-size: 26px;
    color: black;
  }
  
  div[class*="stTextInput"] label {
    font-size: 26px;
    color: black;
  }
  
  div[class*="stNumberInput"] label {
    font-size: 12px;
    color: black;
  }

  div[class*="stCheckbox"] label {
    font-size: 12px;
    color: black;
  } 

  .st-af {
    font-size: 0.8rem;
  }

  .st-af {
    margin-top:1.0rem;
  }
 
  label {
    font-size: 0.9rem !important;
    }
  
  input {
      font-size: 0.8rem !important;
  }

  p {
    all: revert;
  }*/
  
  
  table.ppanda {
      font-size: 12pt;
      font-family: Arial;
      border-collapse: collapse;
      border: 1px solid rgb(237, 69, 69);
      margin-bottom: 10px;
  }
  
  table.ppanda tbody th {
      padding: 8px;
      background-color: #e6e1e1;
      font-size: large;
      text-align: center;
  }
  
  table.ppanda thead th {
    padding: 8px;
    background-color: #e6e1e1;
    font-size: large;
    text-align: center;
}
  
  table.ppanda td {
      text-align: center;
  }

  table.ppanda td.parameter {
	text-align: left;
  font-weight: bold;
}

table.ppanda td.unit {
	text-align: left;
}

.dot-wrapper {
    position: relative;
    width: fit-content;
}

    .dot-wrapper::after {
        position: absolute;
        bottom: 50%;
        content: '\2024'
    }
